* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    /* background: red; */
    color: #fff;
}

.logo  {
    width: 148px;
    height: 40px;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(media/big-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

select {
    color: #fff;
    border: 0;
    outline: 0;
    -webkit-appearance: menulist-button;
    appearance: none;
    background: transparent;
    margin-bottom: 50px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup {
    background-color: rgba(255, 255, 255, 0.027) ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 1px ;
    outline: 0;
    margin-left: 20px;
    color: #fff;
    background: rgb(255, 255, 255, 0);
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/* .language-selector {
    cursor: pointer;
} */

/* .video-col {
    background-image: url(media/tv.png);
    background-repeat: no-repeat;
    border: red;

} */

/* .video-col img {
    float: inherit;
} */

/*--------Features------------*/

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-column {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.text-column h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.video-col {
    float: inherit;
    position: relative;
    align-items: center;
    flex-basis: 50%;
    margin-bottom: 20px;
}


.video-col {
    background: url(media/tv.png) no-repeat center transparent;
    height: 480px; 
    border: 1px solid red;
}

.loop-video {
    height: 263px;
}

.overlay downloader-icon {
    border: 1px solid red;
    left 
}

.video-col video {
    position: relative;
    top: 95px;
    left: 34px;
    color: red;
    z-index: -1;
    align-items: center;
    display: block;
    width: 90%;
}


.second-section {
    height: 480px; 
    border: 1px solid red;
}

